.detailbar-container {
  width: 450px;
  color: white;
  text-align: left;
  position: fixed;
  z-index: 2;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  top: 60px;
  right: 10px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  overflow-y:auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
}

.detailbar-container::-webkit-scrollbar {
  display: none;
  
}

/* Hide scrollbar for IE, Edge and Firefox */
.detailbar-container  {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.detailbar-select{
  width: fill;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  background-color: white;
}
