.account-container {
  width: 50%;
  position: fixed;
  z-index: 3;
  top: 10px;
  right: 25%;
  padding-bottom: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  font-size: 24pt;
}

.account-menu{
  background: none;
}

.account-menu-item {
  font-size: 24pt;
}
.account-button{
 
  width: fill;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
  text-align: left;
  align-content: left;
  align-items: left;
  justify-content: left;
}